<launch>

  <arg name="bag_path" default="../icp_tutorial/bag/desk.bag" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find icp_tutorial)/rviz/icp.rviz"/>
  <node pkg="rosbag" type="play" name="rosbag_play" output="screen"  respawn="true"  args="$(arg bag_path)"/>
  <node pkg="icp_tutorial" type="test_icp" name="icp" output="screen" />

</launch>